* {
  margin: 0%;
  padding: 0%;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  /* for centering the cards */
  /* display: flex;
    align-items: center;
    justify-content: center; */
}
.card {
  /* another way to sift the card in the center */
  position: absolute;/* sare cards ek hi jagah aayenge*/
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  height: 300px;
  width: 230px;
  border: 1px solid salmon;
  border-radius: 20px;
  overflow: hidden;
}

#card1{
    transform: translate(-50% , -50%);
    z-index: 4;
    background-color: salmon;
}
#card2{
    z-index: 3;
    transform: translate(-50% , -50%) rotate(-7deg);
    background-color: blue;
}
#card2:hover{
    z-index: 10;
}

#card3{
    z-index: 2;
    transform: translate(-50% , -50%) rotate(-14deg);
    background-color: green;
}
#card3:hover{
    z-index: 10;
}


#card4{
    z-index: 1;  
    transform: translate(-50% , -50%) rotate(-21deg);
    background-color: yellow;
}
#card4:hover{
    z-index: 10;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
