*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}

#main{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}

#header{
    height: 10%;
    width: 100%;
    background-color: aquamarine;
    position: fixed;
    display: flex;
    align-items: center;
}
.text{
    color: rgb(0, 0, 147);
    margin: 10px;
}
#fakeHeader{
    height: 10%;
    width: 100%;
}
#page1{
    height: 90%;
    width: 100%;
    background-color: salmon;
}
#page2{
    height: 90%;
    width: 100%;
    background-color: skyblue;
}
